<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/signUp.css') }}" />
    
  </head>
  <body>
    <div class="img-box"></div>
    <div class="main-container">
      <div class="logo"></div>

      <div class="email-varify">
        <p class="just-text">Varify By Email</p>

        <div class="form-floating ">
          <input type="email" name="email" class="form-control email-field" id="floatingEmail" placeholder="name@example.com"/>
          <label for="floatingEmail">Email address</label>
        </div>

        <div class="btn btn-dark w-100 otp-btn" id="sendOtp" onclick="sendOTP()">Varify OTP</div>
      </div>

      <div class="otp-box">
        <p class="just-text">Varify OTP</p>

        <div class="form-floating ">
          <input type="text" name="varify-otp" class="form-control otp-varify-field mb-5" id="floating-opt-varify" placeholder="XXXXXX"/>
          <label for="floating-opt-varify">Enter OTP XXXXXX</label>
        </div>

        <div class="btn btn-dark w-100 otp-btn" id="varifyOtp" onclick="verifyOTP()">Varify OTP</div>
      </div>

      <form class="detail-form" action="/sign-up" method="POST">
        <div class="form-floating  mb-3">
          <input type="text" name="username" class="form-control user-field" id="floatingUsername" placeholder="username"/>
          <label for="floatingUsername">username</label>
        </div>
        <div class="form-floating  mb-3">
          <input type="password" name="password" class="form-control pass-field" id="floatingPassword" placeholder="Password"/>
          <label for="floatingPassword">Password</label>
        </div>
        
        <div class="form-check fs-3 pe-5 form-check-inline">
            <input class="form-check-input" type="radio" name="radioDefault" id="radioDefault1">
            <label class="form-check-label text-secondary" for="radioDefault1">
                Learner
            </label>
        </div>
        <div class="form-check fs-3 form-check-inline">
            <input class="form-check-input" type="radio" name="radioDefault" id="radioDefault2" checked>
            <label class="form-check-label text-secondary" for="radioDefault2">
                Creator
            </label>
        </div>
        <br>
        <button type="submit" class="btn btn-dark w-100 mt-5 submit-btn">Submit</button>
      </form>
    </div>

    <script src="{{ url_for('static', filename='js/signUp.js') }}"></script>
  </body>
</html>
