*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #000;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
}
.container1{
    width: 100%;
    margin: 0 auto;
    padding: 0 2rem;
    position: relative;
    overflow: hidden;
}
.head-part{
    position: fixed;
    top: 0;
    width: 100%;
    height: 100px;
    background-color: #000000;
    z-index: 999;
}
header{
    padding: 1rem 5rem;
    z-index: 999;
    color: #dadada;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
header h1 {
  font-size: 3rem;
  font-weight: 700;
  background: linear-gradient(to right, #fff, #94a3b8);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-left: -50px;
  cursor: pointer;
}
nav{
    display: flex;
    align-items: center;
    gap: 3rem;
    margin-left: -5%;

}

nav a{
    font-size: 1rem;
    letter-spacing: 0.1rem;
    transition: color 0.2s ease;
    text-decoration: none;
    color: inherit;
}

nav a:hover{
    color: #a7a7a7;
}


nav a i{
    font-size: 2rem;
    color: rgb(170, 0, 255) ;
    transform: scaleY(1.3);
}

.logout{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.logout p{
    transform: translateY(3px);
}

.search{
    width: 90%;
}

.search-box {
  display: flex;
  align-items: center;
  background: #111;
  border: 1px solid #333;
  padding: 10px 16px;
  width :45%;
  margin-left: 40px;
  border-radius: 15px 15px 0 0;
  background-color: #262626;
  position: fixed;
  top: 30px;
  height: 50px;
}

.search-icon {
  font-size: 20px;
  margin-right: 30px;
  color: rgb(170, 0, 255);
}

.search-box input {
  background: transparent;
  border: none;
  outline: none;
  color: #fff;
  width: 90%;
  font-size: 20px;
  height: 30px;
}

.search-box input::placeholder {
  color: #888;
}

#suggestions{
    position: absolute;
    top: 80px;
    z-index: 999;
    color: black;
    margin-left: 40px;
    width: 45%;
    background-color: #2e2d2d;
    filter: blur(3);
    color: white;
}

/* .search:has(#suggestions:hover) .search-box {
    border-radius: 15px 15px 0 0;
} */


#suggestions div{
    padding: 8px;
    cursor: pointer;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    font-size: 20px;
    transition: all 0.3s ease-in;
}

#suggestions div:hover{
    /* background-color: #f0f0f0; */
    background-color: #5b5959;
}
.course{
    margin-top: 120px;
    padding: 20px;
    border-radius: 10px;
    color: white;
}
.course-img{
    width: 50%;
    height: 400px;
    border-radius: 10px;
    object-fit: cover;
    background-color: #888;
    
}

.course-img img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    object-fit: cover;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
    position: relative;
    top: 0px;
    left: 0px;
} 

.course-content{
    position: absolute;
    top: 130px;
    left: 55%;
    width: 40%;
    padding: 20px;
    height: 400px;;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.course-title{
    font-size: 2.7rem;
    margin-bottom: 20px;
    
}

.user-details{
    display: flex;
    align-items: center;
    gap: 30px;
    z-index: 100;
    cursor: pointer;
}



.photo {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: rgb(0, 0, 0);
  border: 2px solid rgba(0, 0, 0, 0.3);
}

.photo img{
  width: 100%;
  height: 100%;
  border-radius: 50%;
  overflow: hidden;
  border: 1px solid rgb(0, 0, 0);
  background-color: rgb(0, 0, 0);
  position: relative;
  top: 0;
  left: 0;
  transform: scale(1.1);
}

.user-name{
    font-size: 1.5rem;
    font-weight: 600;
    color: #dadadab5;
}

.user-name:hover{
    color: white;
}

.already-sub , .not-sub{
    width: 140px;
    /* height: 35px; */
    font-size: 20px;
    margin-left: 20px;
    padding: 10px 20px;
    border-radius: 15px;
    cursor: pointer;
    background-color: #dadada;
    /* transition: all 0.3s ease-in; */
    border: 2px solid white;
    color: black;
}


.already-sub{
    background-color: transparent;
    color: white;
    border: 2px solid white;
}

.buttons{
    display: flex;
    align-items: center;
    gap: 20px;
    position: absolute;
    bottom: 50px;
}

.price-box, .enroll-btn , .bookmark{
    
    padding: 15px 25px;
    border-radius: 10px;
    font-size: 1.2rem;
    font-weight: 600;
    border: none;
    transition: 0.3s ease;
}

.price-box{
    width: 140px;
    text-align: center;
    background-color: #222;
    color: #1eff00;
}

.enroll-btn{
    width: 190px;
    background-color: #041df9;
    color: white;
    text-decoration: none;
    text-align: center;
    font-size: 1.25rem;
    cursor: pointer;
}

.bookmark{
    width: 200px;
    background-color: #222;
    color: #dadada;
    display: flex;
    gap: 20px;
    font-size: 1.25rem;
    cursor: pointer;
}
hr{
    margin: 30px -10px 10px -10px;
    border: 0.5px solid #52525273;
}

.course-desc{
    font-size: 1.2rem;
    line-height: 1.6;
    color: #cccccc;
}

.course-desc h3{
    margin-bottom: 10px;
    font-size: 2.5rem;
}

.course-desc p{
    margin-bottom: 15px;
    color: #a5a5a5;
}

.already-reviewed{
    border: 1px solid #dadada81;
}

.review-container{
    margin-top: 20px;
    padding: 20px;
    border-radius: 10px;
    background-color: #121212;
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
}

.reviewer-name{
    font-size: 1.2rem;
    font-weight: 600;
    color: #dadada;
    display: flex;
    gap: 30px;
}

.review-item{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.review-text{
    font-size: 1rem;
    color: #c4c4c4;
}

.review-rating i{
    font-size: 1.2rem;
    color: #f5c518;
}

.review-text p{
    font-size: 1.1rem;
    color: #a5a5a5;
    font-weight: 500;
}

.star{
    color: #f5c518;
    font-size: 1.5rem;
    margin-right: 5px;
    cursor: pointer;
}

.review{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 15px;
}

.add-review{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    
    gap: 15px;
}

textarea {
  width: 100%;
  background: transparent;
  border: none;
  border-bottom: 2px solid #555;   /* only bottom border */
  color: white;
  padding: 10px 5px;
  font-size: 16px;
  resize: none;
  outline: none;
}

textarea:focus {
  border-bottom-color: #a855f7; /* purple glow */
}

textarea {
  border-bottom: 2px solid #555;
  transition: border-color 0.3s ease;
}

#submit-review{
    width: 150px;
    padding: 10px;
    border-radius: 8px;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    border: none;
    background-color: #a855f7;
    color: white;
    align-self: flex-end;
    margin-top: 10px;
}