*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #000;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
}
.container{
    width: 100%;
    margin: 0 auto;
    padding: 0 2rem;
    position: relative;
    overflow: hidden;
}
.head-part{
    position: fixed;
    top: 0;
    width: 100%;
    height: 100px;
}
header{
    padding: 1rem 5rem;
    z-index: 999;
    color: #dadada;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
header h1{
    margin: 0;
    font-size: 3rem;
    font-weight: 300;
}
nav{
    display: flex;
    align-items: center;
    gap: 3rem;
    margin-left: -5%;

}

nav a{
    font-size: 1rem;
    letter-spacing: 0.1rem;
    transition: color 0.2s ease;
    text-decoration: none;
    color: inherit;
}

nav a:hover{
    color: #a7a7a7;
}

.search{
    width: 90%;
}

.search-box {
  display: flex;
  align-items: center;
  background: #111;
  border: 1px solid #333;
  padding: 10px 16px;
  width :45%;
  margin-left: 40px;
  border-radius: 15px;
  background-color: #262626;
  position: fixed;
  top: 30px;
  height: 50px;
}

.search-icon {
  font-size: 20px;
  margin-right: 30px;
  color: rgb(170, 0, 255);
}

.search-box input {
  background: transparent;
  border: none;
  outline: none;
  color: #fff;
  width: 90%;
  font-size: 20px;
  height: 30px;
}

.search-box input::placeholder {
  color: #888;
}

#suggestions{
    /* border: 1px solid white; */
    position: absolute;
    top: 80px;
    z-index: 999;
    /* background-color: white; */
    color: black;
    margin-left: 40px;
    width: 45%;
    background-color: #2e2d2d;
    filter: blur(3);
    color: white;
}

#suggestions div{
    padding: 8px;
    cursor: pointer;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    font-size: 20px;
}

#suggestions div:hover{
    /* background-color: #f0f0f0; */
    background-color: #5b5959;
}

.user-box{
    width: 100%;
    height: 550px;
    margin-top: 100px;
    border-radius: 20px;
    background: linear-gradient(225deg,#2b2b2b, #000000);
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: white;
    margin-left: 0 20px;
    overflow: hidden;
    position: relative;
    z-index: -1;
}

.user-text{
    font-size: 70px;
    margin-left: 20px;
    letter-spacing: 5px;
    background-color: transparent;
    /* text-shadow: 0 0 15px #dadada; */
}

.user-box span{
    color: #6600c5;
    text-shadow: 0 0 15px #000000;
    text-transform: uppercase;
}
.slogan{
    font-size: 25px;
    /* color: #dadada; */
    color: gray;
    background-color: transparent;
    /* text-shadow: 0 0 15px #dadada; */
    margin-left: 20px;
}
.animation{
    position: absolute;
    top: 30px;
    right: -300px;
    background-color: transparent;
    transform: scale(1.4);
}

.profile-box{
    position: absolute;
    top: 480px;
    left: 80px;
    width: 18rem;
    height: 4rem;
    border-radius: 50px;
    background: linear-gradient(to right , #656565 , #7f42a7 , #6600c5 , #5300a0 , #757575 , #656565);
    background-size: 200%;
    animation: animationGradient 2.5s linear infinite;
    box-shadow: 0 0  15px rgba(255, 255, 255, 0.3);
    padding: 0.5rem 2rem;
    transition: 0.4s ease;
}
.profile-box:hover{
    transform: scale(1.1);
}

@keyframes animationGradient {
    to{
        background-position: 200%;
    }
}

.btn-Profile{
    position: absolute;
    inset: 3px 3px 3px 3px;
    background-color: black;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s ease;
    cursor: pointer;
    font-size: 2rem;
    text-decoration: none;
    color: white;
    gap: 10px;
}

.btn-Profile:hover{
    /* color: #5300a0; */
    background-color: transparent;
}

.category{
    color: white;
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 10px;
}

.box{
    text-decoration: none;
    width: 15%;
    height: 100px;
    /* background-color: #dadada; */
    background-color: gray;
    display: flex;
    align-items: center;
    padding-left: 10px;
    border-radius: 20px;
    /* font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
    font-weight: 600;
    font-size: 22px;
    letter-spacing: 2px;
    line-height: 30px;
    color: #000;
    transition: all 0.3s ease;
}
.box:hover{
    background-color: white;
    box-shadow: 0 0 15px white;
    transform: scale(1.05);
}

/* ================= RESET ================= */

