* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  font-family: Arial, sans-serif;
}

.left {
    background-color: #e8f2dc;
    background-image: url("Login-page-img.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.logo {
  max-width: 160px; 
  width: 100%;
  height: auto;
  margin-bottom: 30px;
}

.form-box {
  width: 100%;
  max-width: 500px;
}
.login-form{
  width: 100%;
}

.form-control{
    background-color: #dadada;
    border-radius: 15px;
}
button{
    height: 60px;
}

@media (max-width: 768px) {
  body {
    overflow-y: auto;
  }
}
