* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  width: 100%;
  height: 100vh;
  display: flex;
}
.img-box {
  width: 50%;
  height: 100%;
  background-image: url("sign-up-page-img.png");
  background-repeat: no-repeat;
  background-position-x: 50%;
  background-position-y: 30%;
  border-radius: 0px 20px 20px 0px;
}
.main-container{
    width: 50%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0px;
}
.logo{
    width: 45%;
    height: 30%;
    background-image: url("main-logo.png");
    background-position: center;
    background-size: cover;
    margin-bottom: 10px;
}
.just-text{
    font-size: 30px;
    font-weight: bolder;
    text-decoration: underline;
    margin-bottom: 50px;
    margin-top: 10px;
}

.detail-form{
    width: 50%;
    display: none;
}
.email-varify{
    width: 50%;
}
.otp-btn{
    height: 50px;
    font-size: 20px;
}

.otp-box{
    display: none;
    width: 50%;
}

.user-field,.pass-field,.email-field,.otp-varify-field{
    background-color: #D4D4D4;
    color: #5e5d5d;
    
}
.user-field{
    border-radius: 15px 15px 0px 0px;
}
.pass-field{
    border-radius: 0px;
}
.email-field , .otp-varify-field{
    border-radius: 15px;
    margin-bottom: 30px;
}
.submit-btn{
    height: 50px;
}