* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.img-gradient{
    position: absolute;
    top: 0;
    right: 0;
    opacity: 0.5;
    z-index: -1;
}
.layer-blur{
    height: 0;
    width: 30rem;
    position: absolute;
    top: 20%;
    right: 0;
    box-shadow: 0 0 700px 15px white;
    rotate: -30deg;
    z-index: -1;
}

body {
  height: 100vh;
  background: #000;
  color: #fff;
  overflow: hidden;
}

header{
    position: absolute;
    top: 20px;
    left: 50px;
}
header h1{
    margin: 0;
    font-size: 3rem;
    font-weight: 300;
}

.auth-container {
  display: flex;
  height: 100vh;
}

/* LEFT */
.auth-left {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.placeholder-3d {
  width: 70%;
  height: 70%;
  border-radius: 20px;
  border: 1px solid #7c3aed;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #a855f7;
}

/* RIGHT */
.auth-right {
  flex: 1;
  padding: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  top: 15%;
  right: 100px;
  border-radius: 50px;
  width: 700px;
  height: 600px;
  box-shadow: 0 0 15px white;
  background: linear-gradient(
    135deg,
    rgba(124,58,237,0.12),
    rgba(0,0,0,1)
  );

}

h1 {
  font-size: 40px;
  margin-bottom: 10px;
}

.sub-text {
  color: #aaa;
  margin-bottom: 30px;
}

input {
  width: 100%;
  padding: 14px;
  margin-bottom: 12px;
  background: transparent;
  border: 1px solid #333;
  border-radius: 10px;
  color: #fff;
}

input:focus {
  outline: none;
  border-color: #a855f7;
}

button {
  width: 100%;
  padding: 14px;
  margin-top: 10px;
  background: #a855f7;
  color: #000;
  font-weight: bold;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

button:hover {
  background: #9333ea;
}

#resendBtn {
  background: transparent;
  color: #a855f7;
  border: 1px solid #a855f7;
}

.role-box {
  display: flex;
  gap: 20px;
  margin: 10px 0;
}

.role-box label {
  color: #ccc;
}

.Error,
.UserNameError,
.PasswordError,
.RoleError {
  color: #f87171;
  font-size: 13px;
  margin-bottom: 10px;
}

.switch {
  margin-top: 20px;
  font-size: 14px;
}

.switch a {
  color: #a855f7;
  text-decoration: none;
}
.design-3d{
    position: absolute;
    left: -400px;
    bottom: -50px;
    z-index: -1;
}

.back-btn{
  background-color: transparent;
  padding: 0.5rem 2rem;
  border: none;
  position: absolute;
  top: 20px;
  right: 40px;
}

.arrow{
  color: #Dadada;
  text-decoration: none;
  font-size: 1rem ;
  transition: background-color .3s ease;
}

.arrow:hover{
  color: white;
}