body {
      margin: 0;
      padding: 0;
      height: 100vh; 
      display: flex;
      align-items: center;
    }

.box1{
    width: 50%;
    height: 100%;
    background-image: url("login_photo.jpeg");
    background-size: cover;
    background-position-x: -130px;
    justify-content: flex-start;
    border-radius: 10px;
}

.logo{
    /* justify-content: flex-end; */
    height: 30%;
    background-image: url("logo.jpeg");
    background-size: cover;
    background-position: center;
    align-items: flex-end;
}

.username {
    padding: 5px;
    border-radius: 5px;
    display: flex;
    justify-content: flex-end; 
    align-items: center;
}


