<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>CourseBridge Documentation</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/Docs.css') }}"
    />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
  </head>
  <body>
    <div class="docs-container">
      <!-- LEFT SIDEBAR -->
      <aside class="sidebar">
        <h2 class="logo">CourseBridge</h2>

        <ul class="menu">
          <li onclick="loadDoc('overview')" class="active">Overview</li>
          <li onclick="loadDoc('features')">Features</li>
          <li onclick="loadDoc('roles')">User Roles</li>
          <li onclick="loadDoc('courses')">Courses</li>
          <li onclick="loadDoc('reviews')">Reviews</li>
          <li onclick="loadDoc('bookmarks')">Bookmarks</li>
          <li onclick="loadDoc('security')">Security</li>
          <li onclick="loadDoc('deployment')">Deployment</li>
        </ul>

        <a class="exit-btn" href="{{ url_for('FirstPage') }}">
            <span><i id="arrow" class="bi bi-box-arrow-left"></i></span>
            <span>Exit</span>
        </a>
      </aside>

      <div class="container">
        <!-- RIGHT CONTENT -->
        <div class="doc-right">
          <h1 id="doc-title"></h1>
          <div id="doc-body" class="doc-body"></div>
        </div>
      </div>
    </div>

    <script src="{{ url_for('static', filename='js/Docs.js') }}"></script>
  </body>
</html>
