<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/learner_profile.css') }}"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css"
    />
  </head>
  <body>
    <div class="container1">
      <div class="head-part">
        <header>
          <h1 class="logo" onclick="goToHome()">CourseBridge</h1>

          <nav>
            <a href="{{ url_for('manageAcc') }}">Manage Account</a>
            <div class="dropdown">
              <button
                class="btn bg-transparent text-light dropdown-toggle"
                type="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
                style="display: flex; justify-content: center; align-items: center;"
              >
                <p id="sub-toggle">Subscriptions</p>
              </button>
              <ul class="dropdown-menu  ">
                {% for Subscription in subscriptions %}
                <li><button class="dropdown-item text-light fs-5 p-3" onclick="goToFullPage(this)" type="button" data-value="{{ Subscription[1] }}"> {{ Subscription[0] }}</button></li>
                {% endfor %}
              </ul>
            </div>
            <a href="{{ url_for('FirstPage') }}" class="logout">
              <i class="bi bi-box-arrow-right"> </i>
              <p>logout</p>
            </a>
          </nav>
        </header>
      </div>

      <div class="main-section">
        <div class="user-details">
          <div class="photo">
            <img src="{{ url_for('static', filename='uploads/profilePIC/' + profile) }}" alt="">
          </div>
          <div class="user-name">{{name}}</div>
        </div>

        <div class="heading">
          <p>
            <span class="bookmarked-course active">Bookmark</span>
          </p>
        </div>

        <div class="user-bookmarks">
          <div class="content">
            {% for course in bookmarks %}
            <div class="course1 box" data-value="{{ course[5] }}">
              <div class="course-img">
                <img
                  src="{{ url_for('static', filename='uploads/thumbnails/' + course[4]) }}"
                  alt="Course thumbnail"
                />
              </div>
              <div class="course-content">
                <p class="course-title">{{course[2]}}</p>
                <p class="course-des">{{course[0]}}</p>
                <p class="course-price">₹{{course[3]}}</p>
              </div>

              <button type="button" class="bookmark" data-value="1">
                <i class="bi bi-bookmark-fill"></i>
              </button>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>

    <script
      src="{{ url_for('static', filename='js/learner_profile.js') }}"></script>

      <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
